#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 20px 0;
}

thead th {
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

tbody td {
  padding: 10px;
  vertical-align: top;
}

tbody tr:first-child td:nth-child(2), /* Email */
tbody tr:first-child td:nth-child(3) { /* Phone */
  font-weight: bold; /* Make Email and Phone bold */
}

tbody td:first-child {
  font-weight: bold;
}